<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.taskfactory.biz.mapper.BasePriceMapper" >
  <resultMap id="BaseResultMap" type="com.mk.taskfactory.api.dtos.TBasePriceDto" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="roomTypeId" property="roomtypeid" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="subprice" property="subprice" jdbcType="DECIMAL" />
    <result column="subper" property="subper" jdbcType="DECIMAL" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, roomtypeid, price, subprice, subper, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_baseprice
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByRoomtypeId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
      from t_baseprice
        where roomtypeid = #{roomtypeid}
  </select>
  <insert id="saveBasePriceDto" parameterType="com.mk.taskfactory.api.dtos.TBasePriceDto" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO t_baseprice
    (roomTypeId, price,subprice,subper,updateTime)
    VALUE
    (
      #{roomtypeid},#{price}, #{subprice}, #{subper},#{updatetime}
    )
  </insert>
  <update id="updateBasePriceDto" parameterType="com.mk.taskfactory.api.dtos.TBasePriceDto">
    update t_baseprice set roomtypeid=#{roomtypeid},price=#{price}, subprice=#{subprice}, subper=#{subper}, updateTime = SYSDATE() where
    id=#{id}
  </update>
  <delete id="deleteBasePriceByRoomType" parameterType="java.lang.Integer">
    delete from t_baseprice where roomTypeId = #{roomTypeId}
  </delete>
</mapper>