<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.mapper.TBasepriceMapper" >
  <resultMap id="BaseResultMap" type="com.mk.taskfactory.model.TBaseprice" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="roomTypeId" property="roomtypeid" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="subprice" property="subprice" jdbcType="DECIMAL" />
    <result column="subper" property="subper" jdbcType="DECIMAL" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, roomTypeId, price, subprice, subper, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_baseprice
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByRoomtypeId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
      from t_baseprice
        where roomtypeid = #{roomTypeId}
  </select>
</mapper>