<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.taskfactory.biz.mapper.ots.HotelDensityMapper">
  <resultMap id="BaseResultMap" type="com.mk.taskfactory.model.HotelDensity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hotel_id" jdbcType="VARCHAR" property="hotelId" />
    <result column="one_km" jdbcType="BIGINT" property="oneKm" />
    <result column="three_km" jdbcType="BIGINT" property="threeKm" />
    <result column="five_km" jdbcType="BIGINT" property="fiveKm" />
    <result column="ten_km" jdbcType="BIGINT" property="tenKm" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hotel_id, one_km, three_km, five_km, ten_km
  </sql>
  <sql id="Base_Query_List">
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="hotelId != null">
        AND hotel_id = #{hotelId}
      </if>
      <if test="oneKm != null">
        AND one_km = #{oneKm}
      </if>
      <if test="threeKm != null">
        AND three_km = #{threeKm}
      </if>
      <if test="fiveKm != null">
        AND five_km = #{fiveKm}
      </if>
      <if test="tenKm != null">
        AND ten_km = #{tenKm}
      </if>

    </where>
  </sql>

  <select id="qureyByPramas" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.HotelDensityDto" >
    select
    <include refid="Base_Column_List" />
    from t_hotel_density
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    <if test="pageIndex != null and pageIndex>-1 and pageSize!=null and pageSize>0" >
      limit ${pageIndex} , ${pageSize}
    </if>
  </select>
  <select id="count" parameterType="com.mk.taskfactory.api.dtos.HotelDensityDto" resultType="java.lang.Integer" >
    select count(*) from t_hotel_density
    <include refid="Base_Query_List" />
    ORDER BY id DESC
  </select>
  <select id="getByPramas" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.HotelDensityDto" >
    select
    <include refid="Base_Column_List" />
    from t_hotel_density
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    limit 1
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from t_hotel_density
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByHotelId" parameterType="java.lang.String" >
    delete from t_hotel_density
    where hotel_id = #{hotelId,jdbcType=VARCHAR}
  </delete>
  <insert id="saveOrUpdate" parameterType="com.mk.taskfactory.api.dtos.HotelDensityDto" >
    <selectKey keyProperty="hotelCount" resultType="int" order="BEFORE">
      select count(*) from t_hotel_density where hotel_id = #{hotelId}
    </selectKey>

    <if test="hotelCount > 0">
      update t_hotel_density
      set hotel_id = #{hotelId},
          one_km = #{oneKm},
          three_km = #{threeKm},
          five_km = #{fiveKm},
          ten_km = #{tenKm}
      where hotel_id = #{hotelId}
    </if>
    <if test="hotelCount==0">
      insert into t_hotel_density (id, hotel_id, one_km, three_km, five_km, ten_km) values(#{id},#{hotelId},#{oneKm}, #{threeKm}, #{fiveKm},#{tenKm}  )
    </if>
  </insert>
  <insert id="save" parameterType="com.mk.taskfactory.api.dtos.HotelDensityDto">
     insert into t_hotel_density (id, hotel_id, one_km, three_km, five_km, ten_km) values(#{id},#{hotelId},#{oneKm}, #{threeKm}, #{fiveKm},#{tenKm}  )
  </insert>

  <update id="updateByHotelId" parameterType="com.mk.taskfactory.api.dtos.HotelDensityDto"  >
     update t_hotel_density
      set hotel_id = #{hotelId},
          one_km = #{oneKm},
          three_km = #{threeKm},
          five_km = #{fiveKm},
          ten_km = #{tenKm}
      where hotel_id = #{hotelId}
  </update>
</mapper>