<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.taskfactory.biz.mapper.ots.HotelHourClickMapper" >
  <resultMap id="BaseResultMap" type="com.mk.taskfactory.model.HotelHourClick" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
    <result column="room_type_id" property="roomTypeId" jdbcType="BIGINT" />
    <result column="click_count" property="clickCount" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hotel_id, room_type_id, view_count, tel_click_count, tel_count, reject_count,
    time, create_time
  </sql>
  <sql id="Base_Query_List">
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="hotelId != null">
        AND hotel_id = #{hotelId}
      </if>
      <if test="roomTypeId != null">
        AND room_type_id = #{roomTypeId}
      </if>
      <if test="roomTypeIdIsNull == true">
        AND room_type_id is NULL
      </if>
    </where>
  </sql>
  <select id="qureyByPramas" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.HotelHourClickDto" >
    select
    <include refid="Base_Column_List" />
    from t_hotel_hour_click
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    <if test="pageIndex != null and pageIndex>-1 and pageSize!=null and pageSize>0" >
      limit ${pageIndex} , ${pageSize}
    </if>
  </select>
  <select id="count" resultType="java.lang.Integer" parameterType="com.mk.taskfactory.api.dtos.HotelHourClickDto">
    select
    <include refid="Base_Column_List" />
    from t_hotel_hour_click
    <include refid="Base_Query_List" />
    ORDER BY id DESC
  </select>

  <select id="getByPramas" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.HotelHourClickDto" >
    select
    <include refid="Base_Column_List" />
    from t_hotel_hour_click
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    limit 1
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from t_hotel_hour_click
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="com.mk.taskfactory.api.dtos.HotelHourClickDto" >
    insert into t_hotel_hour_click (id, hotel_id, room_type_id,
      view_count, tel_click_count, tel_count,
      reject_count, time, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{hotelId,jdbcType=BIGINT}, #{roomTypeId,jdbcType=BIGINT},
      #{viewCount,jdbcType=INTEGER}, #{telClickCount,jdbcType=INTEGER}, #{telCount,jdbcType=INTEGER},
      #{rejectCount,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateById" parameterType="com.mk.taskfactory.api.dtos.HotelHourClickDto" >
    update t_hotel_hour_click
    <set >
      <if test="hotelId != null">
        hotel_id = #{hotelId,jdbcType=BIGINT},
      </if>
      <if test="roomTypeId != null">
        room_type_id = #{roomTypeId,jdbcType=BIGINT},
      </if>
      <if test="viewCount != null">
        view_count = #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="telClickCount != null">
        tel_click_count = #{telClickCount,jdbcType=INTEGER},
      </if>
      <if test="telCount != null">
        tel_count = #{telCount,jdbcType=INTEGER},
      </if>
      <if test="rejectCount != null">
        reject_count = #{rejectCount,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>