<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.taskfactory.biz.mapper.OtaOrderMapper" >
  <sql id="Base_Column_List" >
    bo.id, bo.HotelId, bo.Hotelname,
    bo.Mid, bo.TotalPrice, bo.Updatetime,
    bo.Ordermethod
  </sql>
  <select id="selectByMidMoreThenMaxTime"  resultType="com.mk.taskfactory.biz.order.model.OtaOrder"  parameterType="java.util.HashMap" >
   select
    <include refid="Base_Column_List" />
    from b_otaorder bo
    where bo.mid  in
    <foreach collection="midList" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    and  bo.OrderStatus  = 200
     <![CDATA[ and  bo.updatetime> #{maxTime}]]>
  </select>

  <select id="selectByMidLessThenMaxTime" resultType="com.mk.taskfactory.biz.order.model.OtaOrder" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from b_otaorder  bo
    where bo.mid  in
    <foreach collection="midList" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    and  bo.OrderStatus  = 200
    <![CDATA[ and  bo.updatetime< #{maxTime}]]>
  </select>

  <select id="selectFirstByMid"  resultType="com.mk.taskfactory.biz.order.model.OtaOrder"  parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from  b_otaorder  bo
    where mid   = #{mids}
  </select>

  <!-- 判断是否用户首单-->
  <select id="getFirstOrderIdByMid" resultType="long"  parameterType="java.lang.Long">
    SELECT  bo.id  FROM b_otaorder bo where  bo.mid  =  #{mid}  and
    ((bo.OrderStatus IN (140,160,180,190,200) and  bo.Ordertype =1)
    or    (bo.OrderStatus IN (160,180,190,200) and  bo.Ordertype =2))
    order  by   bo.id  limit  1;
  </select>
</mapper>
