<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.taskfactory.biz.mapper.OtaOrderMapper" >
    <resultMap id="BaseResultMap" type="com.mk.taskfactory.biz.order.model.PPay" >
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="mid" property="mid" jdbcType="BIGINT" />
        <result column="orderId" property="orderid" jdbcType="BIGINT" />
        <result column="userId" property="userid" jdbcType="BIGINT" />
        <result column="orderPrice" property="orderprice" jdbcType="DECIMAL" />
        <result column="leZhu" property="lezhu" jdbcType="DECIMAL" />
        <result column="time" property="time" jdbcType="TIMESTAMP" />
        <result column="pmsOrderno" property="pmsorderno" jdbcType="VARCHAR" />
        <result column="hotelId" property="hotelId" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="needReturn" property="needReturn" jdbcType="CHAR" />
        <result column="newOrderId" property="newOrderId" jdbcType="BIGINT" />
        <result column="paysrc" property="paysrc" jdbcType="INTEGER" />
    </resultMap>


  <select id="getByOrderId" resultType="long"  parameterType="java.lang.Long">
      SELECT  *   from  p_pay  where  orderId = #{orderId}  limit  1;
  </select>
</mapper>
