<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.taskfactory.biz.mapper.ots.QCommentDetailMapper" >
  <resultMap id="BaseResultMap" type="com.mk.taskfactory.model.QCommentDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="comment_id" property="commentId" jdbcType="BIGINT" />
    <result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
    <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="grade" property="grade" jdbcType="DECIMAL" />
    <result column="is_visible" property="isVisible" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="init_date" property="initDate" jdbcType="DATE" />
    <result column="update_date" property="updateDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, comment_id, hotel_id, hotel_name, score, create_time, grade, is_visible, user_name,
    init_date, update_date
  </sql>
  <sql id="Base_Query_List">
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="commentId != null">
        AND comment_id = #{commentId}
      </if>
      <if test="hotelId != null">
        AND hotel_id = #{hotelId}
      </if>
      <if test="hotelName != null">
        AND hotel_name = #{hotelName}
      </if>
      <if test="grade != null">
        AND grade = #{grade}
      </if>
      <if test="isVisible != null">
        AND is_visible = #{isVisible}
      </if>
      <if test="userName != null">
        AND user_name = #{userName}
      </if>
    </where>
  </sql>

  <select id="qureyByPramas" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.QCommentDetailDto" >
    select
    <include refid="Base_Column_List" />
    from q_comment_detail
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    <if test="pageIndex != null and pageIndex>-1 and pageSize!=null and pageSize>0" >
      limit ${pageIndex} , ${pageSize}
    </if>
  </select>
  <select id="count" parameterType="com.mk.taskfactory.api.dtos.QCommentDetailDto" resultType="java.lang.Integer" >
    select count(*) from q_comment_detail
    <include refid="Base_Query_List" />
    ORDER BY id DESC
  </select>
  <select id="getByPramas" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.QHotelFacilityDto" >
    select 
    <include refid="Base_Column_List" />
    from q_comment_detail
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    limit 1
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from q_comment_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="com.mk.taskfactory.api.dtos.QCommentDetailDto" >
    insert into q_comment_detail (id, comment_id, hotel_id, 
      hotel_name, score, create_time, 
      grade, is_visible, user_name, 
      init_date, update_date)
    values (#{id,jdbcType=BIGINT}, #{commentId,jdbcType=BIGINT}, #{hotelId,jdbcType=BIGINT}, 
      #{hotelName,jdbcType=VARCHAR}, #{score,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{grade,jdbcType=DECIMAL}, #{isVisible,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{initDate,jdbcType=DATE}, #{updateDate,jdbcType=DATE})
  </insert>
  <update id="updateById" parameterType="com.mk.taskfactory.api.dtos.QCommentDetailDto" >
    update q_comment_detail
    <set >
      <if test="commentId != null" >
        comment_id = #{commentId,jdbcType=BIGINT},
      </if>
      <if test="hotelId != null" >
        hotel_id = #{hotelId,jdbcType=BIGINT},
      </if>
      <if test="hotelName != null" >
        hotel_name = #{hotelName,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=DECIMAL},
      </if>
      <if test="isVisible != null" >
        is_visible = #{isVisible,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="initDate != null" >
        init_date = #{initDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>