<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.hotel.hotelinfo.mapper.HotelMapper" >
  <resultMap id="BaseResultMap" type="com.mk.hotel.hotelinfo.model.Hotel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="fang_id" property="fangId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="hotel_type" property="hotelType" jdbcType="VARCHAR" />
    <result column="lat" property="lat" jdbcType="DECIMAL" />
    <result column="lon" property="lon" jdbcType="DECIMAL" />
    <result column="default_leave_time" property="defaultLeaveTime" jdbcType="VARCHAR" />
    <result column="retention_time" property="retentionTime" jdbcType="VARCHAR" />
    <result column="repair_time" property="repairTime" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="prov_code" property="provCode" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="dis_code" property="disCode" jdbcType="VARCHAR" />
    <result column="town_code" property="townCode" jdbcType="VARCHAR" />
    <result column="open_time" property="openTime" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="is_valid" property="isValid" jdbcType="CHAR" />
    <result column="business_zone_info" property="businessZoneInfo" jdbcType="VARCHAR" />
    <result column="airport_station_info" property="airportStationInfo" jdbcType="VARCHAR" />
    <result column="scenic_spots_info" property="scenicSpotsInfo" jdbcType="VARCHAR" />
    <result column="hospital_info" property="hospitalInfo" jdbcType="VARCHAR" />
    <result column="colleges_info" property="collegesInfo" jdbcType="VARCHAR" />
    <result column="reg_time" property="regTime" jdbcType="VARCHAR" />
    <result column="source_type" property="sourceType" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mk.hotel.hotelinfo.model.Hotel" extends="BaseResultMap" >
    <result column="pic" property="pic" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fang_id, name, addr, phone, hotel_type, lat, lon, default_leave_time, retention_time, 
    repair_time, introduction, prov_code, city_code, dis_code, town_code, open_time, 
    create_date, create_by, update_date, update_by, is_valid, business_zone_info, airport_station_info, 
    scenic_spots_info, hospital_info, colleges_info, reg_time, source_type
  </sql>
  <sql id="Blob_Column_List" >
    pic
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.mk.hotel.hotelinfo.model.HotelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hotel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="start != null and start != 0" >
      limit ${start},${pageCount}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mk.hotel.hotelinfo.model.HotelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from hotel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="start != null and start != 0" >
      limit ${start},${pageCount}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hotel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hotel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mk.hotel.hotelinfo.model.HotelExample" >
    delete from hotel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mk.hotel.hotelinfo.model.Hotel" >
    insert into hotel (id, fang_id, name, 
      addr, phone, hotel_type, 
      lat, lon, default_leave_time, 
      retention_time, repair_time, introduction, 
      prov_code, city_code, dis_code, 
      town_code, open_time, create_date, 
      create_by, update_date, update_by, 
      is_valid, business_zone_info, airport_station_info, 
      scenic_spots_info, hospital_info, colleges_info, 
      reg_time, source_type, pic
      )
    values (#{id,jdbcType=BIGINT}, #{fangId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{addr,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{hotelType,jdbcType=VARCHAR}, 
      #{lat,jdbcType=DECIMAL}, #{lon,jdbcType=DECIMAL}, #{defaultLeaveTime,jdbcType=VARCHAR}, 
      #{retentionTime,jdbcType=VARCHAR}, #{repairTime,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{provCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{disCode,jdbcType=VARCHAR}, 
      #{townCode,jdbcType=VARCHAR}, #{openTime,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{isValid,jdbcType=CHAR}, #{businessZoneInfo,jdbcType=VARCHAR}, #{airportStationInfo,jdbcType=VARCHAR}, 
      #{scenicSpotsInfo,jdbcType=VARCHAR}, #{hospitalInfo,jdbcType=VARCHAR}, #{collegesInfo,jdbcType=VARCHAR}, 
      #{regTime,jdbcType=VARCHAR}, #{sourceType,jdbcType=INTEGER}, #{pic,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mk.hotel.hotelinfo.model.Hotel" >
    insert into hotel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fangId != null" >
        fang_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="addr != null" >
        addr,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="hotelType != null" >
        hotel_type,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="lon != null" >
        lon,
      </if>
      <if test="defaultLeaveTime != null" >
        default_leave_time,
      </if>
      <if test="retentionTime != null" >
        retention_time,
      </if>
      <if test="repairTime != null" >
        repair_time,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="provCode != null" >
        prov_code,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="disCode != null" >
        dis_code,
      </if>
      <if test="townCode != null" >
        town_code,
      </if>
      <if test="openTime != null" >
        open_time,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="businessZoneInfo != null" >
        business_zone_info,
      </if>
      <if test="airportStationInfo != null" >
        airport_station_info,
      </if>
      <if test="scenicSpotsInfo != null" >
        scenic_spots_info,
      </if>
      <if test="hospitalInfo != null" >
        hospital_info,
      </if>
      <if test="collegesInfo != null" >
        colleges_info,
      </if>
      <if test="regTime != null" >
        reg_time,
      </if>
      <if test="sourceType != null" >
        source_type,
      </if>
      <if test="pic != null" >
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fangId != null" >
        #{fangId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="hotelType != null" >
        #{hotelType,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=DECIMAL},
      </if>
      <if test="lon != null" >
        #{lon,jdbcType=DECIMAL},
      </if>
      <if test="defaultLeaveTime != null" >
        #{defaultLeaveTime,jdbcType=VARCHAR},
      </if>
      <if test="retentionTime != null" >
        #{retentionTime,jdbcType=VARCHAR},
      </if>
      <if test="repairTime != null" >
        #{repairTime,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="provCode != null" >
        #{provCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="disCode != null" >
        #{disCode,jdbcType=VARCHAR},
      </if>
      <if test="townCode != null" >
        #{townCode,jdbcType=VARCHAR},
      </if>
      <if test="openTime != null" >
        #{openTime,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="businessZoneInfo != null" >
        #{businessZoneInfo,jdbcType=VARCHAR},
      </if>
      <if test="airportStationInfo != null" >
        #{airportStationInfo,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotsInfo != null" >
        #{scenicSpotsInfo,jdbcType=VARCHAR},
      </if>
      <if test="hospitalInfo != null" >
        #{hospitalInfo,jdbcType=VARCHAR},
      </if>
      <if test="collegesInfo != null" >
        #{collegesInfo,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        #{regTime,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null" >
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mk.hotel.hotelinfo.model.HotelExample" resultType="java.lang.Integer" >
    select count(*) from hotel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hotel
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.fangId != null" >
        fang_id = #{record.fangId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.addr != null" >
        addr = #{record.addr,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.hotelType != null" >
        hotel_type = #{record.hotelType,jdbcType=VARCHAR},
      </if>
      <if test="record.lat != null" >
        lat = #{record.lat,jdbcType=DECIMAL},
      </if>
      <if test="record.lon != null" >
        lon = #{record.lon,jdbcType=DECIMAL},
      </if>
      <if test="record.defaultLeaveTime != null" >
        default_leave_time = #{record.defaultLeaveTime,jdbcType=VARCHAR},
      </if>
      <if test="record.retentionTime != null" >
        retention_time = #{record.retentionTime,jdbcType=VARCHAR},
      </if>
      <if test="record.repairTime != null" >
        repair_time = #{record.repairTime,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.provCode != null" >
        prov_code = #{record.provCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null" >
        city_code = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.disCode != null" >
        dis_code = #{record.disCode,jdbcType=VARCHAR},
      </if>
      <if test="record.townCode != null" >
        town_code = #{record.townCode,jdbcType=VARCHAR},
      </if>
      <if test="record.openTime != null" >
        open_time = #{record.openTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.isValid != null" >
        is_valid = #{record.isValid,jdbcType=CHAR},
      </if>
      <if test="record.businessZoneInfo != null" >
        business_zone_info = #{record.businessZoneInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.airportStationInfo != null" >
        airport_station_info = #{record.airportStationInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.scenicSpotsInfo != null" >
        scenic_spots_info = #{record.scenicSpotsInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalInfo != null" >
        hospital_info = #{record.hospitalInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.collegesInfo != null" >
        colleges_info = #{record.collegesInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.regTime != null" >
        reg_time = #{record.regTime,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceType != null" >
        source_type = #{record.sourceType,jdbcType=INTEGER},
      </if>
      <if test="record.pic != null" >
        pic = #{record.pic,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update hotel
    set id = #{record.id,jdbcType=BIGINT},
      fang_id = #{record.fangId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      addr = #{record.addr,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      hotel_type = #{record.hotelType,jdbcType=VARCHAR},
      lat = #{record.lat,jdbcType=DECIMAL},
      lon = #{record.lon,jdbcType=DECIMAL},
      default_leave_time = #{record.defaultLeaveTime,jdbcType=VARCHAR},
      retention_time = #{record.retentionTime,jdbcType=VARCHAR},
      repair_time = #{record.repairTime,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      prov_code = #{record.provCode,jdbcType=VARCHAR},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      dis_code = #{record.disCode,jdbcType=VARCHAR},
      town_code = #{record.townCode,jdbcType=VARCHAR},
      open_time = #{record.openTime,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      is_valid = #{record.isValid,jdbcType=CHAR},
      business_zone_info = #{record.businessZoneInfo,jdbcType=VARCHAR},
      airport_station_info = #{record.airportStationInfo,jdbcType=VARCHAR},
      scenic_spots_info = #{record.scenicSpotsInfo,jdbcType=VARCHAR},
      hospital_info = #{record.hospitalInfo,jdbcType=VARCHAR},
      colleges_info = #{record.collegesInfo,jdbcType=VARCHAR},
      reg_time = #{record.regTime,jdbcType=VARCHAR},
      source_type = #{record.sourceType,jdbcType=INTEGER},
      pic = #{record.pic,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hotel
    set id = #{record.id,jdbcType=BIGINT},
      fang_id = #{record.fangId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      addr = #{record.addr,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      hotel_type = #{record.hotelType,jdbcType=VARCHAR},
      lat = #{record.lat,jdbcType=DECIMAL},
      lon = #{record.lon,jdbcType=DECIMAL},
      default_leave_time = #{record.defaultLeaveTime,jdbcType=VARCHAR},
      retention_time = #{record.retentionTime,jdbcType=VARCHAR},
      repair_time = #{record.repairTime,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      prov_code = #{record.provCode,jdbcType=VARCHAR},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      dis_code = #{record.disCode,jdbcType=VARCHAR},
      town_code = #{record.townCode,jdbcType=VARCHAR},
      open_time = #{record.openTime,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      is_valid = #{record.isValid,jdbcType=CHAR},
      business_zone_info = #{record.businessZoneInfo,jdbcType=VARCHAR},
      airport_station_info = #{record.airportStationInfo,jdbcType=VARCHAR},
      scenic_spots_info = #{record.scenicSpotsInfo,jdbcType=VARCHAR},
      hospital_info = #{record.hospitalInfo,jdbcType=VARCHAR},
      colleges_info = #{record.collegesInfo,jdbcType=VARCHAR},
      reg_time = #{record.regTime,jdbcType=VARCHAR},
      source_type = #{record.sourceType,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.hotel.hotelinfo.model.Hotel" >
    update hotel
    <set >
      <if test="fangId != null" >
        fang_id = #{fangId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="hotelType != null" >
        hotel_type = #{hotelType,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DECIMAL},
      </if>
      <if test="lon != null" >
        lon = #{lon,jdbcType=DECIMAL},
      </if>
      <if test="defaultLeaveTime != null" >
        default_leave_time = #{defaultLeaveTime,jdbcType=VARCHAR},
      </if>
      <if test="retentionTime != null" >
        retention_time = #{retentionTime,jdbcType=VARCHAR},
      </if>
      <if test="repairTime != null" >
        repair_time = #{repairTime,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="provCode != null" >
        prov_code = #{provCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="disCode != null" >
        dis_code = #{disCode,jdbcType=VARCHAR},
      </if>
      <if test="townCode != null" >
        town_code = #{townCode,jdbcType=VARCHAR},
      </if>
      <if test="openTime != null" >
        open_time = #{openTime,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=CHAR},
      </if>
      <if test="businessZoneInfo != null" >
        business_zone_info = #{businessZoneInfo,jdbcType=VARCHAR},
      </if>
      <if test="airportStationInfo != null" >
        airport_station_info = #{airportStationInfo,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotsInfo != null" >
        scenic_spots_info = #{scenicSpotsInfo,jdbcType=VARCHAR},
      </if>
      <if test="hospitalInfo != null" >
        hospital_info = #{hospitalInfo,jdbcType=VARCHAR},
      </if>
      <if test="collegesInfo != null" >
        colleges_info = #{collegesInfo,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null" >
        reg_time = #{regTime,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null" >
        source_type = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mk.hotel.hotelinfo.model.Hotel" >
    update hotel
    set fang_id = #{fangId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      hotel_type = #{hotelType,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=DECIMAL},
      lon = #{lon,jdbcType=DECIMAL},
      default_leave_time = #{defaultLeaveTime,jdbcType=VARCHAR},
      retention_time = #{retentionTime,jdbcType=VARCHAR},
      repair_time = #{repairTime,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      prov_code = #{provCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      dis_code = #{disCode,jdbcType=VARCHAR},
      town_code = #{townCode,jdbcType=VARCHAR},
      open_time = #{openTime,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=CHAR},
      business_zone_info = #{businessZoneInfo,jdbcType=VARCHAR},
      airport_station_info = #{airportStationInfo,jdbcType=VARCHAR},
      scenic_spots_info = #{scenicSpotsInfo,jdbcType=VARCHAR},
      hospital_info = #{hospitalInfo,jdbcType=VARCHAR},
      colleges_info = #{collegesInfo,jdbcType=VARCHAR},
      reg_time = #{regTime,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=INTEGER},
      pic = #{pic,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.hotel.hotelinfo.model.Hotel" >
    update hotel
    set fang_id = #{fangId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      hotel_type = #{hotelType,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=DECIMAL},
      lon = #{lon,jdbcType=DECIMAL},
      default_leave_time = #{defaultLeaveTime,jdbcType=VARCHAR},
      retention_time = #{retentionTime,jdbcType=VARCHAR},
      repair_time = #{repairTime,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      prov_code = #{provCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      dis_code = #{disCode,jdbcType=VARCHAR},
      town_code = #{townCode,jdbcType=VARCHAR},
      open_time = #{openTime,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=CHAR},
      business_zone_info = #{businessZoneInfo,jdbcType=VARCHAR},
      airport_station_info = #{airportStationInfo,jdbcType=VARCHAR},
      scenic_spots_info = #{scenicSpotsInfo,jdbcType=VARCHAR},
      hospital_info = #{hospitalInfo,jdbcType=VARCHAR},
      colleges_info = #{collegesInfo,jdbcType=VARCHAR},
      reg_time = #{regTime,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>