<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.hotel.roomtype.mapper.RoomTypeMapper" >
  <resultMap id="BaseResultMap" type="com.mk.hotel.roomtype.model.RoomType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="fang_id" property="fangId" jdbcType="BIGINT" />
    <result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="bed_type" property="bedType" jdbcType="SMALLINT" />
    <result column="bed_size" property="bedSize" jdbcType="VARCHAR" />
    <result column="room_num" property="roomNum" jdbcType="SMALLINT" />
    <result column="prepay" property="prepay" jdbcType="SMALLINT" />
    <result column="breakfast" property="breakfast" jdbcType="SMALLINT" />
    <result column="refund" property="refund" jdbcType="SMALLINT" />
    <result column="max_room_num" property="maxRoomNum" jdbcType="SMALLINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="is_valid" property="isValid" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mk.hotel.roomtype.model.RoomType" extends="BaseResultMap" >
    <result column="room_type_pics" property="roomTypePics" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fang_id, hotel_id, name, area, bed_type, bed_size, room_num, prepay, breakfast, 
    refund, max_room_num, create_date, create_by, update_date, update_by, is_valid
  </sql>
  <sql id="Blob_Column_List" >
    room_type_pics
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.mk.hotel.roomtype.model.RoomTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from room_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mk.hotel.roomtype.model.RoomTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from room_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from room_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from room_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.hotel.roomtype.model.RoomType" >
    insert into room_type (id, fang_id, hotel_id, 
      name, area, bed_type, 
      bed_size, room_num, prepay, 
      breakfast, refund, max_room_num, 
      create_date, create_by, update_date, 
      update_by, is_valid, room_type_pics
      )
    values (#{id,jdbcType=BIGINT}, #{fangId,jdbcType=BIGINT}, #{hotelId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{bedType,jdbcType=SMALLINT}, 
      #{bedSize,jdbcType=VARCHAR}, #{roomNum,jdbcType=SMALLINT}, #{prepay,jdbcType=SMALLINT}, 
      #{breakfast,jdbcType=SMALLINT}, #{refund,jdbcType=SMALLINT}, #{maxRoomNum,jdbcType=SMALLINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{isValid,jdbcType=CHAR}, #{roomTypePics,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mk.hotel.roomtype.model.RoomType" >
    insert into room_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fangId != null" >
        fang_id,
      </if>
      <if test="hotelId != null" >
        hotel_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="bedType != null" >
        bed_type,
      </if>
      <if test="bedSize != null" >
        bed_size,
      </if>
      <if test="roomNum != null" >
        room_num,
      </if>
      <if test="prepay != null" >
        prepay,
      </if>
      <if test="breakfast != null" >
        breakfast,
      </if>
      <if test="refund != null" >
        refund,
      </if>
      <if test="maxRoomNum != null" >
        max_room_num,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="roomTypePics != null" >
        room_type_pics,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fangId != null" >
        #{fangId,jdbcType=BIGINT},
      </if>
      <if test="hotelId != null" >
        #{hotelId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="bedType != null" >
        #{bedType,jdbcType=SMALLINT},
      </if>
      <if test="bedSize != null" >
        #{bedSize,jdbcType=VARCHAR},
      </if>
      <if test="roomNum != null" >
        #{roomNum,jdbcType=SMALLINT},
      </if>
      <if test="prepay != null" >
        #{prepay,jdbcType=SMALLINT},
      </if>
      <if test="breakfast != null" >
        #{breakfast,jdbcType=SMALLINT},
      </if>
      <if test="refund != null" >
        #{refund,jdbcType=SMALLINT},
      </if>
      <if test="maxRoomNum != null" >
        #{maxRoomNum,jdbcType=SMALLINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=CHAR},
      </if>
      <if test="roomTypePics != null" >
        #{roomTypePics,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mk.hotel.roomtype.model.RoomTypeExample" resultType="java.lang.Integer" >
    select count(*) from room_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.hotel.roomtype.model.RoomType" >
    update room_type
    <set >
      <if test="fangId != null" >
        fang_id = #{fangId,jdbcType=BIGINT},
      </if>
      <if test="hotelId != null" >
        hotel_id = #{hotelId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="bedType != null" >
        bed_type = #{bedType,jdbcType=SMALLINT},
      </if>
      <if test="bedSize != null" >
        bed_size = #{bedSize,jdbcType=VARCHAR},
      </if>
      <if test="roomNum != null" >
        room_num = #{roomNum,jdbcType=SMALLINT},
      </if>
      <if test="prepay != null" >
        prepay = #{prepay,jdbcType=SMALLINT},
      </if>
      <if test="breakfast != null" >
        breakfast = #{breakfast,jdbcType=SMALLINT},
      </if>
      <if test="refund != null" >
        refund = #{refund,jdbcType=SMALLINT},
      </if>
      <if test="maxRoomNum != null" >
        max_room_num = #{maxRoomNum,jdbcType=SMALLINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=CHAR},
      </if>
      <if test="roomTypePics != null" >
        room_type_pics = #{roomTypePics,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mk.hotel.roomtype.model.RoomType" >
    update room_type
    set fang_id = #{fangId,jdbcType=BIGINT},
      hotel_id = #{hotelId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      bed_type = #{bedType,jdbcType=SMALLINT},
      bed_size = #{bedSize,jdbcType=VARCHAR},
      room_num = #{roomNum,jdbcType=SMALLINT},
      prepay = #{prepay,jdbcType=SMALLINT},
      breakfast = #{breakfast,jdbcType=SMALLINT},
      refund = #{refund,jdbcType=SMALLINT},
      max_room_num = #{maxRoomNum,jdbcType=SMALLINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=CHAR},
      room_type_pics = #{roomTypePics,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.hotel.roomtype.model.RoomType" >
    update room_type
    set fang_id = #{fangId,jdbcType=BIGINT},
      hotel_id = #{hotelId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      bed_type = #{bedType,jdbcType=SMALLINT},
      bed_size = #{bedSize,jdbcType=VARCHAR},
      room_num = #{roomNum,jdbcType=SMALLINT},
      prepay = #{prepay,jdbcType=SMALLINT},
      breakfast = #{breakfast,jdbcType=SMALLINT},
      refund = #{refund,jdbcType=SMALLINT},
      max_room_num = #{maxRoomNum,jdbcType=SMALLINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>