<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.taskfactory.biz.cps.mapper.CpsOrderListMapper" >
  <resultMap id="BaseResultMap" type="com.mk.taskfactory.biz.cps.model.CpsOrderList" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="orderId" property="orderid" jdbcType="BIGINT" />
    <result column="channelType" property="channeltype" jdbcType="INTEGER" />
    <result column="channelCode" property="channelcode" jdbcType="VARCHAR" />
    <result column="channelName" property="channelname" jdbcType="VARCHAR" />
    <result column="orderPrice" property="orderprice" jdbcType="DECIMAL" />
    <result column="summaryDetailId" property="summarydetailid" jdbcType="BIGINT" />
    <result column="mid" property="mid" jdbcType="BIGINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="hotelId" property="hotelid" jdbcType="BIGINT" />
    <result column="isFirst" property="isfirst" jdbcType="CHAR" />
    <result column="isNew" property="isnew" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, orderId, channelType, channelCode, channelName, orderPrice, summaryDetailId, 
    mid, createTime, updateTime, hotelId, isFirst, isNew
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.biz.cps.model.CpsOrderListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from cps_order_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.mk.taskfactory.biz.cps.model.CpsOrderList" >
    insert into cps_order_list (id, orderId, channelType, 
      channelCode, channelName, orderPrice, 
      summaryDetailId, mid, createTime, 
      updateTime, hotelId, isFirst, 
      isNew)
    values (#{id,jdbcType=BIGINT}, #{orderid,jdbcType=BIGINT}, #{channeltype,jdbcType=INTEGER}, 
      #{channelcode,jdbcType=VARCHAR}, #{channelname,jdbcType=VARCHAR}, #{orderprice,jdbcType=DECIMAL}, 
      #{summarydetailid,jdbcType=BIGINT}, #{mid,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{hotelid,jdbcType=BIGINT}, #{isfirst,jdbcType=CHAR},
      #{isnew,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.taskfactory.biz.cps.model.CpsOrderList" >
    insert into cps_order_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="channeltype != null" >
        channelType,
      </if>
      <if test="channelcode != null" >
        channelCode,
      </if>
      <if test="channelname != null" >
        channelName,
      </if>
      <if test="orderprice != null" >
        orderPrice,
      </if>
      <if test="summarydetailid != null" >
        summaryDetailId,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="hotelid != null" >
        hotelId,
      </if>
      <if test="isfirst != null" >
        isFirst,
      </if>
      <if test="isnew != null" >
        isNew,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=BIGINT},
      </if>
      <if test="channeltype != null" >
        #{channeltype,jdbcType=INTEGER},
      </if>
      <if test="channelcode != null" >
        #{channelcode,jdbcType=VARCHAR},
      </if>
      <if test="channelname != null" >
        #{channelname,jdbcType=VARCHAR},
      </if>
      <if test="orderprice != null" >
        #{orderprice,jdbcType=DECIMAL},
      </if>
      <if test="summarydetailid != null" >
        #{summarydetailid,jdbcType=BIGINT},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="hotelid != null" >
        #{hotelid,jdbcType=BIGINT},
      </if>
      <if test="isfirst != null" >
        #{isfirst,jdbcType=CHAR},
      </if>
      <if test="isnew != null" >
        #{isnew,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mk.taskfactory.biz.cps.model.CpsOrderListExample" resultType="java.lang.Integer" >
    select count(*) from cps_order_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="getIsNewDistinctChannelCode" resultType="java.lang.String" parameterType="java.lang.String" >
    select
    DISTINCT channelCode as channelCode
    from cps_order_list
    where isNew = #{isNew}
  </select>
  <update id="updateSummaryDetailId">
    update cps_order_list set summaryDetailId = #{cpsOrderSummaryCollectId},isNew=0 where isNew = '1' and channelCode = ${channelCode}
  </update>
  <insert id="addCpsOrderListBatch" useGeneratedKeys="true" parameterType="java.util.List">
    insert into t_train_record (orderId,channelType,channelCode,channelName,orderPrice,summaryDetailId,mid,
    createTime,updateTime,hotelId,isFirst,isNew)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.orderId},#{item.channelType},#{item.channelCode},#{item.channelName},#{item.channelName}
      ,#{item.orderPrice},#{item.orderPrice},#{item.summaryDetailId},#{item.mid},#{item.createTime},#{item.updateTime}
      ,#{item.hotelId} ,#{item.isFirst} ,#{item.isNew} )
    </foreach>
  </insert>

  <select id="getMaxCheckOutTime"   resultType="java.util.Date" >
     select max(updateTime) from cps_order_list
  </select>

  <select id="getCpsOrderListSummary" resultType="com.mk.taskfactory.biz.cps.bean.CpsOrderListSummary">
    select sum(orderPrice) sumOrderPrice,count(1) sumOrder,max(updateTime) updateTime
    from cps_order_list
    where isNew = '1' and isFirst = #{isFirst}
    and channelCode = #{channelCode}
     <![CDATA[ and updateTime >= #{payStartDate} and updateTime < #{payEndDate}]]>
  </select>


  <select id="getCpsOrderListByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select  *
    from  cps_order_list
    where  orderId = #{orderId}
  </select>

</mapper>