<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.taskfactory.biz.mapper.ht.OnlineHotelRecommendMapper" >
  <resultMap id="BaseResultMap" type="com.mk.taskfactory.model.ht.OnlineHotelRecommend" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
    <result column="room_type_id" property="roomTypeId" jdbcType="BIGINT" />
    <result column="rec_hotel_id" property="recHotelId" jdbcType="BIGINT" />
    <result column="rec_room_type_id" property="recRoomTypeId" jdbcType="BIGINT" />
    <result column="rec_price"  property="recPrice" jdbcType="DECIMAL" />
    <result column="rec_sort" property="recSort" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_vaild" jdbcType="CHAR" property="isVaild" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hotel_id, room_type_id, rec_hotel_id, rec_room_type_id, rec_price, rec_sort,create_time, update_time , is_vaild
  </sql>
  <sql id="Base_Query_List">
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="hotelId != null">
        AND hotel_id = #{hotelId}
      </if>
      <if test="roomTypeId != null">
        AND room_type_id = #{roomTypeId}
      </if>
      <if test="recHotelId != null">
        AND rec_hotel_id = #{recHotelId}
      </if>
      <if test="recRoomTypeId != null">
        AND rec_room_type_id = #{recRoomTypeId}
      </if>
      <if test="recPrice != null">
        AND rec_price = #{recPrice}
      </if>

      <if test="recSort != null">
      AND rec_sort = #{recSort}
    </if>
      <if test="isVaild != null">
        AND is_vaild = #{isVaild}
      </if>
    </where>
  </sql>
  <select id="qureyByPramas" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.ht.OnlineHotelRecommendDto" >
    select
    <include refid="Base_Column_List" />
    from online_hotel_recommend
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    <if test="pageIndex != null and pageIndex>-1 and pageSize!=null and pageSize>0" >
      limit ${pageIndex} , ${pageSize}
    </if>
  </select>
  <select id="count" parameterType="com.mk.taskfactory.api.dtos.ht.OnlineHotelRoomTypeDto" resultType="java.lang.Integer" >
    select count(*) from online_hotel_recommend
    <include refid="Base_Query_List" />
    ORDER BY id DESC
  </select>
  <select id="getByPramas" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.ht.OnlineHotelRecommendDto" >
    select
    <include refid="Base_Column_List" />
    from online_hotel_recommend
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    limit 1
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from online_hotel_recommend
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="com.mk.taskfactory.api.dtos.ht.OnlineHotelRecommendDto" >
    insert into online_hotel_recommend (id, hotel_id, roomTypeId, rec_hotel_id, rec_room_type_id,
     rec_price, rec_sort,create_time, update_time,
      is_vaild
    )
    values (#{id,jdbcType=BIGINT}, #{hotelId,jdbcType=BIGINT}, #{roomTypeId,jdbcType=BIGINT}, #{recHotelId,jdbcType=BIGINT}, #{recRoomTypeId,jdbcType=BIGINT}
    , #{recPrice,jdbcType=DECIMAL}, #{recSort,jdbcType=INTEGER},
    #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{isVaild,jdbcType=CHAR}
    )
  </insert>
  <update id="updateById" parameterType="com.mk.taskfactory.api.dtos.ht.OnlineHotelRecommendDto" >
    update online_hotel_recommend
    <set >
      <if test="hotelId != null" >
        hotel_id = #{hotelId,jdbcType=BIGINT},
      </if>
      <if test="roomTypeId != null" >
        roomTypeId = #{roomTypeId,jdbcType=BIGINT},
      </if>

    <if test="recHotelId != null">
      rec_hotel_id = #{recHotelId ,jdbcType=BIGINT}
    </if>
    <if test="recRoomTypeId != null">
      rec_room_type_id = #{recRoomTypeId ,jdbcType=BIGINT}
    </if>
    <if test="recPrice != null">
       rec_price = #{recPrice ,jdbcType=DECIMAL}
    </if>

    <if test="recSort != null">
      rec_sort = #{recSort, jdbcType=INTEGER }
    </if>

      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isVaild != null">
        is_vaild = #{isVaild,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>