<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.taskfactory.biz.mapper.crawer.QFacilityMapper" >
  <resultMap id="BaseResultMap" type="com.mk.taskfactory.model.ht.QFacility" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="fac_name" property="facName" jdbcType="VARCHAR" />
    <result column="fac_field" property="facField" jdbcType="VARCHAR" />
    <result column="fac_type" property="facType" jdbcType="INTEGER" />
    <result column="visible" property="visible" jdbcType="CHAR" />
    <result column="ots_id" property="otsId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fac_name, fac_field, fac_type, visible,ots_id,create_time,update_time
  </sql>
  <sql id="Base_Query_List">
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="facName != null">
        AND fac_name = #{facName}
      </if>
      <if test="facField != null">
        AND fac_field = #{facField}
      </if>
      <if test="facType != null">
        AND fac_type = #{facType}
      </if>
      <if test="visible != null">
        AND visible = #{visible}
      </if>
    </where>
  </sql>
  <select id="qureyByPramas" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.ht.QFacilityDto" >
    select
    <include refid="Base_Column_List" />
    from q_facility
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    <if test="pageIndex != null and pageIndex>-1 and pageSize!=null and pageSize>0" >
      limit ${pageIndex} , ${pageSize}
    </if>
  </select>
  <select id="count" parameterType="com.mk.taskfactory.api.dtos.ht.QFacilityDto" resultType="java.lang.Integer" >
    select count(*) from q_facility
    <include refid="Base_Query_List" />
    ORDER BY id DESC
  </select>
  <select id="getByPramas" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.ht.QFacilityDto" >
    select
    <include refid="Base_Column_List" />
    from q_facility
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    limit 1
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from q_facility
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="com.mk.taskfactory.api.dtos.ht.QFacilityDto" >
    insert into q_facility (id, fac_name, fac_field, 
      fac_type, visible,ots_id,create_time,update_time)
    values (#{id,jdbcType=BIGINT}, #{facName,jdbcType=VARCHAR}, #{facField,jdbcType=VARCHAR}, 
      #{facType,jdbcType=INTEGER}, #{visible,jdbcType=CHAR}, #{otsId,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateById" parameterType="com.mk.taskfactory.api.dtos.ht.QFacilityDto" >
    update q_facility
    <set >
      <if test="facName != null" >
        fac_name = #{facName,jdbcType=VARCHAR},
      </if>
      <if test="facField != null" >
        fac_field = #{facField,jdbcType=VARCHAR},
      </if>
      <if test="facType != null" >
        fac_type = #{facType,jdbcType=INTEGER},
      </if>
      <if test="visible != null" >
        visible = #{visible,jdbcType=CHAR},
      </if>
      <if test="otsId != null" >
        ots_id = #{otsId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>