<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.taskfactory.biz.mapper.crawer.QHotelFacilityMapper" >
  <resultMap id="BaseResultMap" type="com.mk.taskfactory.model.crawer.QHotelFacility" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
    <result column="source_id" property="sourceId" jdbcType="VARCHAR" />
    <result column="fac_id" property="facId" jdbcType="BIGINT" />
    <result column="fac_field" property="facField" jdbcType="VARCHAR" />
    <result column="ots_id" property="otsId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hotel_id, source_id, fac_id, fac_field
  </sql>
  <sql id="Base_Query_List">
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="hotelId != null">
        AND hotel_id = #{hotelId}
      </if>
      <if test="sourceId != null">
        AND source_id = #{sourceId}
      </if>
      <if test="facId != null">
        AND fac_id = #{facId}
      </if>
      <if test="facField != null">
        AND fac_field = #{facField}
      </if>
    </where>
  </sql>

  <select id="qureyByPramas" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.crawer.QHotelFacilityDto" >
    select
    <include refid="Base_Column_List" />
    from q_hotel_facility
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    <if test="pageIndex != null and pageIndex>-1 and pageSize!=null and pageSize>0" >
      limit ${pageIndex} , ${pageSize}
    </if>
  </select>
  <select id="count" parameterType="com.mk.taskfactory.api.dtos.crawer.QHotelFacilityDto" resultType="java.lang.Integer" >
    select count(*) from q_hotel_facility
    <include refid="Base_Query_List" />
    ORDER BY id DESC
  </select>
  <select id="getByPramas" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.crawer.QHotelFacilityDto" >
    select
    <include refid="Base_Column_List" />
    from q_hotel_facility
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    limit 1
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from q_hotel_facility
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="com.mk.taskfactory.api.dtos.crawer.QHotelFacilityDto" >
    insert into q_hotel_facility (id, hotel_id, source_id, 
      fac_id, fac_field)
    values (#{id,jdbcType=INTEGER}, #{hotelId,jdbcType=BIGINT}, #{sourceId,jdbcType=VARCHAR}, 
      #{facId,jdbcType=BIGINT}, #{facField,jdbcType=VARCHAR})
  </insert>
  <update id="updateById" parameterType="com.mk.taskfactory.api.dtos.crawer.QHotelFacilityDto" >
    update q_hotel_facility
    <set >
      <if test="hotelId != null" >
        hotel_id = #{hotelId,jdbcType=BIGINT},
      </if>
      <if test="sourceId != null" >
        source_id = #{sourceId,jdbcType=VARCHAR},
      </if>
      <if test="facId != null" >
        fac_id = #{facId,jdbcType=BIGINT},
      </if>
      <if test="facField != null" >
        fac_field = #{facField,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="qureyJionFacility" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.crawer.QHotelFacilityDto" >
    select  a.id,a.hotel_id,a.source_id,b.ots_id from q_hotel_facility a LEFT JOIN q_facility b
    on a.fac_id = b.id and b.visible='T' and b.ots_id !='0'
    <where>
      <if test="hotelId != null">
        AND a.hotel_id = #{hotelId}
      </if>
      <if test="sourceId != null">
        AND a.source_id = #{sourceId}
      </if>
    </where>
    ORDER BY a.id DESC
    <if test="pageIndex != null and pageIndex>-1 and pageSize!=null and pageSize>0" >
      limit ${pageIndex} , ${pageSize}
    </if>
  </select>
  <select id="coutJionFacility" resultType="java.lang.Integer" parameterType="com.mk.taskfactory.api.dtos.crawer.QHotelFacilityDto" >
    select  count(*) from q_hotel_facility a LEFT JOIN q_facility b
    on a.fac_id = b.id and b.visible='T' and b.ots_id !='0'
    <where>
      <if test="hotelId != null">
        AND a.hotel_id = #{hotelId}
      </if>
      <if test="sourceId != null">
        AND a.source_id = #{sourceId}
      </if>
    </where>
    ORDER BY a.id DESC
  </select>
</mapper>