<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.taskfactory.biz.mapper.crawer.RoomTypePriceMapper">
	<resultMap id="BaseResultMap" type="com.mk.taskfactory.model.crawer.RoomTypePrice">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="hotel_id" property="hotelId" jdbcType="BIGINT" />
		<result column="hotel_source_id" property="hotelSourceId" jdbcType="VARCHAR" />
		<result column="room_type_id" property="roomTypeId" jdbcType="BIGINT" />
		<result column="room_type_key" property="roomTypeKey" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="o_price" property="oPrice" jdbcType="DECIMAL" />
		<result column="real_price" property="realPrice" jdbcType="DECIMAL" />
		<result column="origin_price" property="originPrice" jdbcType="DECIMAL" />
		<result column="show_price" property="showPrice" jdbcType="DECIMAL" />
		<result column="ota_show_price" property="otaShowPrice" jdbcType="DECIMAL" />
		<result column="wrapper_name" property="wrapperName" jdbcType="VARCHAR" />
		<result column="wrapper_id" property="wrapperId" jdbcType="VARCHAR" />
		<result column="all_room_count" property="allRoomCount" jdbcType="INTEGER" />
		<result column="available_roomcount" property="availableRoomcount" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, room_type_id, room_type_key, hotel_id, hotel_source_id,
		price,o_price,
		real_price, origin_price, show_price, ota_show_price,
		wrapper_name, wrapper_id,
		all_room_count, available_roomcount,
		create_time,
		update_time
	</sql>

	<select id="getLastMinOtaPrice" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.crawer.RoomTypePriceDto">
		select
		<include refid="Base_Column_List" />
		from t_ex_roomtype_price
		where hotel_source_id = #{hotelSourceId}
		and room_type_key = #{roomTypeKey}
		and price > 0
		and date_format(create_time,'%Y-%m-%d') =
		(
		select date_format(create_time,'%Y-%m-%d') from t_ex_roomtype_price
		where hotel_source_id = #{hotelSourceId}
		and room_type_key = #{roomTypeKey}
		and price > 0
		order by create_time desc limit 1
		)
		order by price asc limit 1;
	</select>
</mapper>