<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.taskfactory.biz.mapper.crawer.TQunarHotelMapper" >
  <resultMap id="BaseResultMap" type="com.mk.taskfactory.model.crawer.TQunarHotel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="source_id" property="sourceId" jdbcType="VARCHAR" />
    <result column="is_lm_full_room" property="isLmFullRoom" jdbcType="CHAR" />
    <result column="distance" property="distance" jdbcType="VARCHAR" />
    <result column="special_price_bit" property="specialPriceBit" jdbcType="INTEGER" />
    <result column="has_five_ftar_hongbao" property="hasFiveFtarHongbao" jdbcType="CHAR" />
    <result column="has_signIn_red" property="hasSigninRed" jdbcType="CHAR" />
    <result column="show_red_pack" property="showRedPack" jdbcType="CHAR" />
    <result column="wap_info" property="wapInfo" jdbcType="INTEGER" />
    <result column="hour_result_info" property="hourResultInfo" jdbcType="INTEGER" />
    <result column="wap_type" property="wapType" jdbcType="INTEGER" />
    <result column="has_bnb_hongbao" property="hasBnbHongbao" jdbcType="CHAR" />
    <result column="has_bnb9_hongbao" property="hasBnb9Hongbao" jdbcType="CHAR" />
    <result column="ppcImg_url" property="ppcimgUrl" jdbcType="VARCHAR" />
    <result column="jp_m" property="jpM" jdbcType="INTEGER" />
    <result column="corr_dist" property="corrDist" jdbcType="VARCHAR" />
    <result column="is_lm" property="isLm" jdbcType="INTEGER" />
    <result column="lm_price" property="lmPrice" jdbcType="VARCHAR" />
    <result column="lm_old_price" property="lmOldPrice" jdbcType="VARCHAR" />
    <result column="lm_full_room" property="lmFullRoom" jdbcType="CHAR" />
    <result column="avg_price" property="avgPrice" jdbcType="VARCHAR" />
    <result column="has_group_buy" property="hasGroupBuy" jdbcType="CHAR" />
    <result column="has_te_hui" property="hasTeHui" jdbcType="CHAR" />
    <result column="has_day7" property="hasDay7" jdbcType="CHAR" />
    <result column="has_chain_price" property="hasChainPrice" jdbcType="CHAR" />
    <result column="support_hong_bao" property="supportHongBao" jdbcType="CHAR" />
    <result column="has_exclusive" property="hasExclusive" jdbcType="CHAR" />
    <result column="has_gift" property="hasGift" jdbcType="CHAR" />
    <result column="has_day7_crash" property="hasDay7Crash" jdbcType="CHAR" />
    <result column="has_quick" property="hasQuick" jdbcType="CHAR" />
    <result column="service_pics" property="servicePics" jdbcType="CHAR" />
    <result column="has_five_star_dacu" property="hasFiveStarDacu" jdbcType="CHAR" />
    <result column="has_distance_preference" property="hasDistancePreference" jdbcType="CHAR" />
    <result column="lm_lowest_price" property="lmLowestPrice" jdbcType="CHAR" />
    <result column="has_five_discount" property="hasFiveDiscount" jdbcType="CHAR" />
    <result column="show_can_user_gold" property="showCanUserGold" jdbcType="CHAR" />
    <result column="show_reture_gold" property="showRetureGold" jdbcType="CHAR" />
    <result column="bundling_rate" property="bundlingRate" jdbcType="INTEGER" />
    <result column="time_limit_price" property="timeLimitPrice" jdbcType="DECIMAL" />
    <result column="top_list" property="topList" jdbcType="INTEGER" />
    <result column="recommend_desc" property="recommendDesc" jdbcType="VARCHAR" />
    <result column="hotel_label" property="hotelLabel" jdbcType="VARCHAR" />
    <result column="quality_label_list" property="qualityLabelList" jdbcType="VARCHAR" />
    <result column="pack_operate_type" property="packOperateType" jdbcType="INTEGER" />
    <result column="browse_month" property="browseMonth" jdbcType="INTEGER" />
    <result column="special_rec" property="specialRec" jdbcType="INTEGER" />
    <result column="hour_room_rec_lm" property="hourRoomRecLm" jdbcType="CHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="when_built" property="whenBuilt" jdbcType="VARCHAR" />
    <result column="comment_score" property="commentScore" jdbcType="DECIMAL" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="hotel_area" property="hotelArea" jdbcType="VARCHAR" />
    <result column="policy_info" property="policyInfo" jdbcType="VARCHAR" />
    <result column="mini_retail_price" property="miniRetailPrice" jdbcType="DECIMAL" />
    <result column="has_internet_access" property="hasInternetAccess" jdbcType="VARCHAR" />
    <result column="wifi_access" property="wifiAccess" jdbcType="VARCHAR" />
    <result column="trading_area" property="tradingArea" jdbcType="VARCHAR" />
    <result column="image_id" property="imageId" jdbcType="VARCHAR" />
    <result column="when_fitment" property="whenFitment" jdbcType="VARCHAR" />
    <result column="near_address" property="nearAddress" jdbcType="VARCHAR" />
    <result column="is_lp" property="isLp" jdbcType="VARCHAR" />
    <result column="is_top500" property="isTop500" jdbcType="VARCHAR" />
    <result column="is_cwt" property="isCwt" jdbcType="VARCHAR" />
    <result column="theme" property="theme" jdbcType="VARCHAR" />
    <result column="hotel_stars" property="hotelStars" jdbcType="DECIMAL" />
    <result column="is_web_free" property="isWebFree" jdbcType="VARCHAR" />
    <result column="dangci" property="dangci" jdbcType="INTEGER" />
    <result column="has_wifiIn_room" property="hasWifiinRoom" jdbcType="INTEGER" />
    <result column="has_parking_area2" property="hasParkingArea2" jdbcType="INTEGER" />
    <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
    <result column="hotel_address" property="hotelAddress" jdbcType="VARCHAR" />
    <result column="gpoint" property="gpoint" jdbcType="VARCHAR" />
    <result column="rank_info" property="rankInfo" jdbcType="VARCHAR" />
    <result column="logic_bit" property="logicBit" jdbcType="VARCHAR" />
    <result column="mobile_price" property="mobilePrice" jdbcType="DECIMAL" />
    <result column="mobile_room_status" property="mobileRoomStatus" jdbcType="INTEGER" />
    <result column="activity" property="activity" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="discount" property="discount" jdbcType="DECIMAL" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
    <result column="bpoint" property="bpoint" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="hotel_brand" property="hotelBrand" jdbcType="VARCHAR" />
    <result column="one_sentence" property="oneSentence" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="hotel_desc" property="hotelDesc" jdbcType="VARCHAR" />
    <result column="rnum" property="rnum" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, source_id, is_lm_full_room, distance, special_price_bit, has_five_ftar_hongbao, 
    has_signIn_red, show_red_pack, wap_info, hour_result_info, wap_type, has_bnb_hongbao, 
    has_bnb9_hongbao, ppcImg_url, jp_m, corr_dist, is_lm, lm_price, lm_old_price, lm_full_room, 
    avg_price, has_group_buy, has_te_hui, has_day7, has_chain_price, support_hong_bao, 
    has_exclusive, has_gift, has_day7_crash, has_quick, service_pics, has_five_star_dacu, 
    has_distance_preference, lm_lowest_price, has_five_discount, show_can_user_gold, 
    show_reture_gold, bundling_rate, time_limit_price, top_list, recommend_desc, hotel_label, 
    quality_label_list, pack_operate_type, browse_month, special_rec, hour_room_rec_lm, 
    city_name, when_built, comment_score, comment_count, hotel_area, policy_info, mini_retail_price, 
    has_internet_access, wifi_access, trading_area, image_id, when_fitment, near_address, 
    is_lp, is_top500, is_cwt, theme, hotel_stars, is_web_free, dangci, has_wifiIn_room, 
    has_parking_area2, hotel_name, hotel_address, gpoint, rank_info, logic_bit, mobile_price, 
    mobile_room_status, activity, price, discount, tag_name, bpoint, phone_number, hotel_brand, 
    one_sentence, short_name, create_time, update_time, hotel_desc, rnum
  </sql>
  <sql id="Base_Query_List">
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="sourceId != null">
        AND source_id = #{sourceId}
      </if>
    </where>
  </sql>

  <select id="qureyByPramas" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.crawer.TQunarHotelDto" >
    select
    <include refid="Base_Column_List" />
    from t_qunar_hotel
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    <if test="pageIndex != null and pageIndex>-1 and pageSize!=null and pageSize>0" >
      limit ${pageIndex} , ${pageSize}
    </if>
  </select>
  <select id="count" parameterType="com.mk.taskfactory.api.dtos.crawer.TQunarHotelDto" resultType="java.lang.Integer" >
    select count(*) from t_qunar_hotel
    <include refid="Base_Query_List" />
    ORDER BY id DESC
  </select>
  <select id="getByPramas" resultMap="BaseResultMap" parameterType="com.mk.taskfactory.api.dtos.crawer.TQunarHotelDto" >
    select
    <include refid="Base_Column_List" />
    from t_qunar_hotel
    <include refid="Base_Query_List" />
    ORDER BY id DESC
    limit 1
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from t_qunar_hotel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" parameterType="com.mk.taskfactory.api.dtos.crawer.TQunarHotelDto" >
    insert into t_qunar_hotel (id, source_id, is_lm_full_room, 
      distance, special_price_bit, has_five_ftar_hongbao, 
      has_signIn_red, show_red_pack, wap_info, 
      hour_result_info, wap_type, has_bnb_hongbao, 
      has_bnb9_hongbao, ppcImg_url, jp_m, 
      corr_dist, is_lm, lm_price, 
      lm_old_price, lm_full_room, avg_price, 
      has_group_buy, has_te_hui, has_day7, 
      has_chain_price, support_hong_bao, has_exclusive, 
      has_gift, has_day7_crash, has_quick, 
      service_pics, has_five_star_dacu, has_distance_preference, 
      lm_lowest_price, has_five_discount, show_can_user_gold, 
      show_reture_gold, bundling_rate, time_limit_price, 
      top_list, recommend_desc, hotel_label, 
      quality_label_list, pack_operate_type, browse_month, 
      special_rec, hour_room_rec_lm, city_name, 
      when_built, comment_score, comment_count, 
      hotel_area, policy_info, mini_retail_price, 
      has_internet_access, wifi_access, trading_area, 
      image_id, when_fitment, near_address, 
      is_lp, is_top500, is_cwt, 
      theme, hotel_stars, is_web_free, 
      dangci, has_wifiIn_room, has_parking_area2, 
      hotel_name, hotel_address, gpoint, 
      rank_info, logic_bit, mobile_price, 
      mobile_room_status, activity, price, 
      discount, tag_name, bpoint, 
      phone_number, hotel_brand, one_sentence, 
      short_name, create_time, update_time, 
      hotel_desc, rnum)
    values (#{id,jdbcType=BIGINT}, #{sourceId,jdbcType=VARCHAR}, #{isLmFullRoom,jdbcType=CHAR}, 
      #{distance,jdbcType=VARCHAR}, #{specialPriceBit,jdbcType=INTEGER}, #{hasFiveFtarHongbao,jdbcType=CHAR}, 
      #{hasSigninRed,jdbcType=CHAR}, #{showRedPack,jdbcType=CHAR}, #{wapInfo,jdbcType=INTEGER}, 
      #{hourResultInfo,jdbcType=INTEGER}, #{wapType,jdbcType=INTEGER}, #{hasBnbHongbao,jdbcType=CHAR}, 
      #{hasBnb9Hongbao,jdbcType=CHAR}, #{ppcimgUrl,jdbcType=VARCHAR}, #{jpM,jdbcType=INTEGER}, 
      #{corrDist,jdbcType=VARCHAR}, #{isLm,jdbcType=INTEGER}, #{lmPrice,jdbcType=VARCHAR}, 
      #{lmOldPrice,jdbcType=VARCHAR}, #{lmFullRoom,jdbcType=CHAR}, #{avgPrice,jdbcType=VARCHAR}, 
      #{hasGroupBuy,jdbcType=CHAR}, #{hasTeHui,jdbcType=CHAR}, #{hasDay7,jdbcType=CHAR}, 
      #{hasChainPrice,jdbcType=CHAR}, #{supportHongBao,jdbcType=CHAR}, #{hasExclusive,jdbcType=CHAR}, 
      #{hasGift,jdbcType=CHAR}, #{hasDay7Crash,jdbcType=CHAR}, #{hasQuick,jdbcType=CHAR}, 
      #{servicePics,jdbcType=CHAR}, #{hasFiveStarDacu,jdbcType=CHAR}, #{hasDistancePreference,jdbcType=CHAR}, 
      #{lmLowestPrice,jdbcType=CHAR}, #{hasFiveDiscount,jdbcType=CHAR}, #{showCanUserGold,jdbcType=CHAR}, 
      #{showRetureGold,jdbcType=CHAR}, #{bundlingRate,jdbcType=INTEGER}, #{timeLimitPrice,jdbcType=DECIMAL}, 
      #{topList,jdbcType=INTEGER}, #{recommendDesc,jdbcType=VARCHAR}, #{hotelLabel,jdbcType=VARCHAR}, 
      #{qualityLabelList,jdbcType=VARCHAR}, #{packOperateType,jdbcType=INTEGER}, #{browseMonth,jdbcType=INTEGER}, 
      #{specialRec,jdbcType=INTEGER}, #{hourRoomRecLm,jdbcType=CHAR}, #{cityName,jdbcType=VARCHAR}, 
      #{whenBuilt,jdbcType=VARCHAR}, #{commentScore,jdbcType=DECIMAL}, #{commentCount,jdbcType=INTEGER}, 
      #{hotelArea,jdbcType=VARCHAR}, #{policyInfo,jdbcType=VARCHAR}, #{miniRetailPrice,jdbcType=DECIMAL}, 
      #{hasInternetAccess,jdbcType=VARCHAR}, #{wifiAccess,jdbcType=VARCHAR}, #{tradingArea,jdbcType=VARCHAR}, 
      #{imageId,jdbcType=VARCHAR}, #{whenFitment,jdbcType=VARCHAR}, #{nearAddress,jdbcType=VARCHAR}, 
      #{isLp,jdbcType=VARCHAR}, #{isTop500,jdbcType=VARCHAR}, #{isCwt,jdbcType=VARCHAR}, 
      #{theme,jdbcType=VARCHAR}, #{hotelStars,jdbcType=DECIMAL}, #{isWebFree,jdbcType=VARCHAR}, 
      #{dangci,jdbcType=INTEGER}, #{hasWifiinRoom,jdbcType=INTEGER}, #{hasParkingArea2,jdbcType=INTEGER}, 
      #{hotelName,jdbcType=VARCHAR}, #{hotelAddress,jdbcType=VARCHAR}, #{gpoint,jdbcType=VARCHAR}, 
      #{rankInfo,jdbcType=VARCHAR}, #{logicBit,jdbcType=VARCHAR}, #{mobilePrice,jdbcType=DECIMAL}, 
      #{mobileRoomStatus,jdbcType=INTEGER}, #{activity,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{discount,jdbcType=DECIMAL}, #{tagName,jdbcType=VARCHAR}, #{bpoint,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{hotelBrand,jdbcType=VARCHAR}, #{oneSentence,jdbcType=VARCHAR}, 
      #{shortName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{hotelDesc,jdbcType=VARCHAR}, #{rnum,jdbcType=VARCHAR})
  </insert>
  <update id="updateById" parameterType="com.mk.taskfactory.api.dtos.crawer.TQunarHotelDto" >
    update t_qunar_hotel
    <set >
      <if test="sourceId != null" >
        source_id = #{sourceId,jdbcType=VARCHAR},
      </if>
      <if test="isLmFullRoom != null" >
        is_lm_full_room = #{isLmFullRoom,jdbcType=CHAR},
      </if>
      <if test="distance != null" >
        distance = #{distance,jdbcType=VARCHAR},
      </if>
      <if test="specialPriceBit != null" >
        special_price_bit = #{specialPriceBit,jdbcType=INTEGER},
      </if>
      <if test="hasFiveFtarHongbao != null" >
        has_five_ftar_hongbao = #{hasFiveFtarHongbao,jdbcType=CHAR},
      </if>
      <if test="hasSigninRed != null" >
        has_signIn_red = #{hasSigninRed,jdbcType=CHAR},
      </if>
      <if test="showRedPack != null" >
        show_red_pack = #{showRedPack,jdbcType=CHAR},
      </if>
      <if test="wapInfo != null" >
        wap_info = #{wapInfo,jdbcType=INTEGER},
      </if>
      <if test="hourResultInfo != null" >
        hour_result_info = #{hourResultInfo,jdbcType=INTEGER},
      </if>
      <if test="wapType != null" >
        wap_type = #{wapType,jdbcType=INTEGER},
      </if>
      <if test="hasBnbHongbao != null" >
        has_bnb_hongbao = #{hasBnbHongbao,jdbcType=CHAR},
      </if>
      <if test="hasBnb9Hongbao != null" >
        has_bnb9_hongbao = #{hasBnb9Hongbao,jdbcType=CHAR},
      </if>
      <if test="ppcimgUrl != null" >
        ppcImg_url = #{ppcimgUrl,jdbcType=VARCHAR},
      </if>
      <if test="jpM != null" >
        jp_m = #{jpM,jdbcType=INTEGER},
      </if>
      <if test="corrDist != null" >
        corr_dist = #{corrDist,jdbcType=VARCHAR},
      </if>
      <if test="isLm != null" >
        is_lm = #{isLm,jdbcType=INTEGER},
      </if>
      <if test="lmPrice != null" >
        lm_price = #{lmPrice,jdbcType=VARCHAR},
      </if>
      <if test="lmOldPrice != null" >
        lm_old_price = #{lmOldPrice,jdbcType=VARCHAR},
      </if>
      <if test="lmFullRoom != null" >
        lm_full_room = #{lmFullRoom,jdbcType=CHAR},
      </if>
      <if test="avgPrice != null" >
        avg_price = #{avgPrice,jdbcType=VARCHAR},
      </if>
      <if test="hasGroupBuy != null" >
        has_group_buy = #{hasGroupBuy,jdbcType=CHAR},
      </if>
      <if test="hasTeHui != null" >
        has_te_hui = #{hasTeHui,jdbcType=CHAR},
      </if>
      <if test="hasDay7 != null" >
        has_day7 = #{hasDay7,jdbcType=CHAR},
      </if>
      <if test="hasChainPrice != null" >
        has_chain_price = #{hasChainPrice,jdbcType=CHAR},
      </if>
      <if test="supportHongBao != null" >
        support_hong_bao = #{supportHongBao,jdbcType=CHAR},
      </if>
      <if test="hasExclusive != null" >
        has_exclusive = #{hasExclusive,jdbcType=CHAR},
      </if>
      <if test="hasGift != null" >
        has_gift = #{hasGift,jdbcType=CHAR},
      </if>
      <if test="hasDay7Crash != null" >
        has_day7_crash = #{hasDay7Crash,jdbcType=CHAR},
      </if>
      <if test="hasQuick != null" >
        has_quick = #{hasQuick,jdbcType=CHAR},
      </if>
      <if test="servicePics != null" >
        service_pics = #{servicePics,jdbcType=CHAR},
      </if>
      <if test="hasFiveStarDacu != null" >
        has_five_star_dacu = #{hasFiveStarDacu,jdbcType=CHAR},
      </if>
      <if test="hasDistancePreference != null" >
        has_distance_preference = #{hasDistancePreference,jdbcType=CHAR},
      </if>
      <if test="lmLowestPrice != null" >
        lm_lowest_price = #{lmLowestPrice,jdbcType=CHAR},
      </if>
      <if test="hasFiveDiscount != null" >
        has_five_discount = #{hasFiveDiscount,jdbcType=CHAR},
      </if>
      <if test="showCanUserGold != null" >
        show_can_user_gold = #{showCanUserGold,jdbcType=CHAR},
      </if>
      <if test="showRetureGold != null" >
        show_reture_gold = #{showRetureGold,jdbcType=CHAR},
      </if>
      <if test="bundlingRate != null" >
        bundling_rate = #{bundlingRate,jdbcType=INTEGER},
      </if>
      <if test="timeLimitPrice != null" >
        time_limit_price = #{timeLimitPrice,jdbcType=DECIMAL},
      </if>
      <if test="topList != null" >
        top_list = #{topList,jdbcType=INTEGER},
      </if>
      <if test="recommendDesc != null" >
        recommend_desc = #{recommendDesc,jdbcType=VARCHAR},
      </if>
      <if test="hotelLabel != null" >
        hotel_label = #{hotelLabel,jdbcType=VARCHAR},
      </if>
      <if test="qualityLabelList != null" >
        quality_label_list = #{qualityLabelList,jdbcType=VARCHAR},
      </if>
      <if test="packOperateType != null" >
        pack_operate_type = #{packOperateType,jdbcType=INTEGER},
      </if>
      <if test="browseMonth != null" >
        browse_month = #{browseMonth,jdbcType=INTEGER},
      </if>
      <if test="specialRec != null" >
        special_rec = #{specialRec,jdbcType=INTEGER},
      </if>
      <if test="hourRoomRecLm != null" >
        hour_room_rec_lm = #{hourRoomRecLm,jdbcType=CHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="whenBuilt != null" >
        when_built = #{whenBuilt,jdbcType=VARCHAR},
      </if>
      <if test="commentScore != null" >
        comment_score = #{commentScore,jdbcType=DECIMAL},
      </if>
      <if test="commentCount != null" >
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="hotelArea != null" >
        hotel_area = #{hotelArea,jdbcType=VARCHAR},
      </if>
      <if test="policyInfo != null" >
        policy_info = #{policyInfo,jdbcType=VARCHAR},
      </if>
      <if test="miniRetailPrice != null" >
        mini_retail_price = #{miniRetailPrice,jdbcType=DECIMAL},
      </if>
      <if test="hasInternetAccess != null" >
        has_internet_access = #{hasInternetAccess,jdbcType=VARCHAR},
      </if>
      <if test="wifiAccess != null" >
        wifi_access = #{wifiAccess,jdbcType=VARCHAR},
      </if>
      <if test="tradingArea != null" >
        trading_area = #{tradingArea,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null" >
        image_id = #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="whenFitment != null" >
        when_fitment = #{whenFitment,jdbcType=VARCHAR},
      </if>
      <if test="nearAddress != null" >
        near_address = #{nearAddress,jdbcType=VARCHAR},
      </if>
      <if test="isLp != null" >
        is_lp = #{isLp,jdbcType=VARCHAR},
      </if>
      <if test="isTop500 != null" >
        is_top500 = #{isTop500,jdbcType=VARCHAR},
      </if>
      <if test="isCwt != null" >
        is_cwt = #{isCwt,jdbcType=VARCHAR},
      </if>
      <if test="theme != null" >
        theme = #{theme,jdbcType=VARCHAR},
      </if>
      <if test="hotelStars != null" >
        hotel_stars = #{hotelStars,jdbcType=DECIMAL},
      </if>
      <if test="isWebFree != null" >
        is_web_free = #{isWebFree,jdbcType=VARCHAR},
      </if>
      <if test="dangci != null" >
        dangci = #{dangci,jdbcType=INTEGER},
      </if>
      <if test="hasWifiinRoom != null" >
        has_wifiIn_room = #{hasWifiinRoom,jdbcType=INTEGER},
      </if>
      <if test="hasParkingArea2 != null" >
        has_parking_area2 = #{hasParkingArea2,jdbcType=INTEGER},
      </if>
      <if test="hotelName != null" >
        hotel_name = #{hotelName,jdbcType=VARCHAR},
      </if>
      <if test="hotelAddress != null" >
        hotel_address = #{hotelAddress,jdbcType=VARCHAR},
      </if>
      <if test="gpoint != null" >
        gpoint = #{gpoint,jdbcType=VARCHAR},
      </if>
      <if test="rankInfo != null" >
        rank_info = #{rankInfo,jdbcType=VARCHAR},
      </if>
      <if test="logicBit != null" >
        logic_bit = #{logicBit,jdbcType=VARCHAR},
      </if>
      <if test="mobilePrice != null" >
        mobile_price = #{mobilePrice,jdbcType=DECIMAL},
      </if>
      <if test="mobileRoomStatus != null" >
        mobile_room_status = #{mobileRoomStatus,jdbcType=INTEGER},
      </if>
      <if test="activity != null" >
        activity = #{activity,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="tagName != null" >
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="bpoint != null" >
        bpoint = #{bpoint,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="hotelBrand != null" >
        hotel_brand = #{hotelBrand,jdbcType=VARCHAR},
      </if>
      <if test="oneSentence != null" >
        one_sentence = #{oneSentence,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hotelDesc != null" >
        hotel_desc = #{hotelDesc,jdbcType=VARCHAR},
      </if>
      <if test="rnum != null" >
        rnum = #{rnum,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>